= semantic_form_for [:admin, resource] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :line_type, collection: AdminTrans::HOTLINE_TYPES, prompt: true
    = f.input :title
    = f.input :telephone
    = f.input :position
  = f.actions

